
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "yourPassWord"
    ports:
      - "1433:1433"
    volumes:
      - ./datasets:/data

